$color-primary: rgb(153, 181, 233);
$color-white: #fff;
$color-black: #000;
$color-white-grey-1: #bbdaf3;
$color-primary-light: rgb(146, 198, 228);
$color-primary-darker: rgba(78, 80, 235, 0.562);
$color-secondary-dark: rgba(164, 202, 238, 0.562);
$color-grey-dark-2: rgba(112, 132, 150, 0.562);



$gutter-horizontal: 8rem;
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 1rem;